.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tech-page-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  margin: auto;
  margin-top: 1%;
  box-shadow: 0px 0px 10px 0px lightgrey;
  border-radius: 10px;
  background: white;
  color: dodgerblue;
}
.tech-page-btn {
  background: dodgerblue;
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border-radius: 10px;
  margin-left: 10%;
  color: white;
  font-size: 20px;
}

.tech-page-btn:hover {
  background: lightgrey;
}

.tech-page-info {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.tech-page-btn-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;

  background: dodgerblue;
  width: 15%;
  height: 5vh;

  margin-top: 1%;
  border-radius: 10px;

  color: white;
  font-size: 20px;
}

.add-item {
  color: dodgerblue;
  display: flex;
  justify-content: center;
}

.tech-top {
  display: flex;
  justify-content: center;
  width: 10%;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 20px;
  background: dodgerblue;
  border-radius: 10px;
  color: white;
}
.tech-top:hover {
  background: lightgrey;
}
.page-heading {
  margin: 3%;
  width: 20%;
  border: 1px solid lightgrey;
  text-align: center;
  border-radius: 20px;
  color: dodgerblue;
  box-shadow: 0px 0px 20px 0px lightgrey;
  font-size: 25px;
}

.header {
  text-align: center;
  color: dodgerblue;
}
